
<div>
    <h1> Vēlies izveidot savu CV? </h1>
    <form asp-action="CreateResume" asp-controller="Home">
        <button type="submit" class="btn btn-primary">Apskatīt visus CV</button>
    </form>
</div>


